NODE_ENV=development
LOG_LEVEL=info
PORT=3010
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/file_db?schema=public
NATS_URL=nats://localhost:4222
REDIS_URL=redis://localhost:6379
STORAGE_PATH=./uploads
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME=reactify-file-storage-service
